<div class="x_panel">
    <div class="x_title">
      <h2>Form Design <small>different form elements</small></h2>
     
    </div>
    <div class="x_content">
      <br>
      <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input (change)="TextChange($event)" type="text" name="first-name"  class="form-control col-md-7 col-xs-12" [(ngModel)]="firstName" >
          </div>
        </div>
        <!-- <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text"  name="last-name"  class="form-control col-md-7 col-xs-12" [(ngModel)]=selectedUser.lastName>
          </div>
        </div>
        <div class="form-group">
          <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name / Initial</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input  class="form-control col-md-7 col-xs-12" [(ngModel)]=selectedUser.userName type="text" name="middle-name">
          </div>
        </div> -->
       

      </form>
    </div>
  </div>